 body {
    font-family: sans-serif; margin: 10px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 10px;
}
.card {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 8px;
    background: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 300px;
}
.excluded {
    opacity: 0.3;
    border-color: red;
}
/* canvas {
    width: 100% !important;
    height: 150px !important;
} */
